body{
    text-decoration: none;
    background-color: #05020A;
    font-family: Montserrat;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2ic 2ic 2ic 2ic;
    min-width: 400px;
    font-size: 15px;
}




header h1{
    font-weight: bolder;
    background-color: #392A57;
    color: #AB7C94;
    flex-wrap: nowrap;
}

header nav{
    display: flex;
    flex-direction: row;
    background-color: #392A57;

    align-items: center;

    flex-wrap: nowrap;
}
header nav a{
    background-color: #392A57;
    align-items: center;

}

header nav a svg{
    background-color: #392A57;
    fill:#AB7C94;
    margin-right: 1ic;
    width: 1.5ic;
    height: 1.5ic;

}
header nav a :hover{
    fill:aliceblue;
}

@media (min-width: 1150px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #392A57;
        border-radius: 10px;
        border-color: #AB7C94;
        border-width: 5px;
        flex-wrap: wrap;
    
    }

    header h1{
        padding-left: 1.5ic;
    }


}

@media (max-width: 1150px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #392A57;
        border-radius: 10px;
        border-color: #AB7C94;
        border-width: 5px;
        flex-wrap: wrap;
    
    }
    header h1{
        padding-left: 0ic;
    }



}


/*Footer*/



footer  a{
    font-weight: bolder;
    background-color: #392A57;
    color: #AB7C94;
    flex-wrap: nowrap;
}
footer  a:hover{
    font-weight: bolder;
    background-color: #392A57;
    color: #ffffff;
    flex-wrap: nowrap;
}
footer  nav{
    display: flex;
    flex-direction: row;
    background-color: #392A57;

    align-items: center;

    flex-wrap: nowrap;
}
footer nav a{
    background-color: #392A57;
    align-items: center;

}

footer nav a svg{
    background-color: #392A57;
    fill:#AB7C94;
    margin-right: 1ic;
    width: 3.5ic;
    height: 3.5ic;

}
footer nav a :hover{
    fill:aliceblue;
}

@media (min-width: 1150px){
    footer{
        margin-top: 1ic;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:stretch;
        background-color: #392A57;
        border-radius: 10px;
        border-color: #AB7C94;
        border-width: 5px;
        flex-wrap: wrap;
    
    }

    footer h1{
        padding-top: 0.5ic;
    }


}

@media (max-width: 1150px){

    footer{
        margin-top: 1ic;
        padding-bottom: 1ic;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #392A57;
        border-radius: 10px;
        border-color: #AB7C94;
        border-width: 5px;
        flex-wrap: wrap;
    
    }
    footer h1{
        padding-left: 0ic;
    }



}




/*Main*/

main{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #ab7c943b;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    border-radius: 10px;
    border-width: 5px;
}
section.about_me div{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#about_me_direction{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:start;
}
#about_me_direction_2{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    gap: 1px;
    margin: 1ic;


}
div#about_me_direction_2:hover svg,a {


    cursor:pointer;
    width: 2.8ic;
    height: 2.8ic;

 
}
div#about_me_direction_2:hover{
    background-color: #4204be;
    border-radius: 10px;
    border-width: 10px;

 
}
#about_me_direction_2 p{
    color: aliceblue;
    align-items: center;

}
#about_me_direction_img{
    margin:2ic;
    background-color: #0e57d5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 10px;
    border-width: 5px;
}
#about_me_direction_img svg{
    padding-left: 0.3ic;
    padding-right: 0.3ic;
    fill:#5f91e8;
    background-color: #0e57d5;

    width: 2.5ic;
    height: 2.5ic;
}
@media (max-width: 1150px){
    section.about_me div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap:  wrap;
    }
    .Nadic_Style{
        font-style: none;
        color:#5f91e8;
        font-weight: 900;
    }
    .Nadic_Style:hover{
        color:#0a4ab9;
        font-weight: 900;
    }


}

section.about_me{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 2ic 2ic 2ic 2ic;

}


section.about_me div img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.Nadic_Style{
    font-style: none;
    color:#5f91e8;
    font-weight: 500;
}
.Nadic_Style:hover{
    color:#0a4ab9;
    font-weight: 500;
}






/*Projects*/
@media (max-width: 1230px){
    section.project{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;

        border-radius: 10px;
        background-color: #1754be;
        border-width: 5px;
    }
    .title_project{
        background-color: #5f91e8;
    }
    section.project div{
        display: flex;
        flex-direction:column-reverse;  
        justify-content: space-between;
        align-items: center;
        background-color: #5f91e8;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border-width: 5px;
    }
    .open_project img{
        padding-bottom: 1%;
    }
}
@media (min-width: 1230px){
    section.project{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        background-color: #1754be;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border-width: 5px;
    }
    .title_project{
        background-color: #5f91e8;
    }
    section.project div{
        font-size: 1.8ic;
        display: flex;
        flex-direction:row;  
        justify-content: space-between;
        align-items: center;     
        background-color: #5f91e8;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border-width: 5px;
    }
}


section.project h2{

    background-color: #5f91e8;
    color: aliceblue;

}
section.project form{

    background-color: #5f91e8;
    color: aliceblue;

}

#search-button {

    background-color: #5f91e8;
    width: 100px;
    height: 50px;
  }

  #search-button svg:hover {
    cursor:pointer;
    fill:aliceblue;
    background-color: #4204be;
    padding:0.3ic;
    border-radius: 15%;
  }


a{
    text-decoration: none;
    word-break:keep-all;
}  
button#search-button  {
    margin: 0.2ic 7.0ic 0.2ic 0.2ic;
    width: 0ic;
    height: 0ic;
    appearance: auto;
    border-width:0ic;

  }
button#search-button a{
    background-color: #5f91e8;
  }
#search-button svg {
    background-color: #5f91e8;
    padding:0.3ic;
    width: 2.5ic;
    height: 2.5ic;
}
div.open_project{
    margin: 1ic 1ic 1ic 1ic;


}

.overleaf{
    color:#3ff648;
    background-color: #3168c8;
    font-weight: 900;
    box-shadow: 0.0ic 0.1ic 0.1ic 0.1ic #05020A;
    border-radius: 10px;
    padding:0.15ic 0.10ic 0.15ic 0.10ic;
}
.overleaf:hover{
    color:#3ff648;
    background-color: #3e31c8;
}

.open_project p{
    padding:1.0ic;
    word-break: break-all;
}
.open_project img{
    border-radius: 2%;
}


/*min-max

#button_icon_IA_close{
    display:none;
}
#button_icon_IA_on{
    display:flex;
}


#IA_max:hover div{
    position:relative;
    display:flex; 
}
#IA_max:hover #button_icon_IA_on{
    display:none;
}
#IA_max:hover #button_icon_IA_close{
    display:flex;
}


#button_Pile_oc{
    display:none;
}
#button_icon_Pile_close{
    display:none;
}
#button_icon_Pile_on{
    display:flex;
}


#Pile_max:hover div{
    position:relative;
    display:flex; 
}
#Pile_max:hover #button_icon_Pile_on{
    display:none;
}
#Pile_max:hover #button_icon_Pile_close{
    display:flex;
}


#button_Election_oc{
    display:none;
}
#button_icon_Election_close{
    display:none;
}
#button_icon_Election_on{
    display:flex;
}

#Election_max:hover div{
    position:relative;
    display:flex; 
}
#Election_max:hover #button_icon_Election_on{
    display:none;
}
#Election_max:hover #button_icon_Election_close{
    display:flex;
}

#Cores_max:hover div{
    position:relative;
    display:flex; 
}
#Cores_max:hover #button_icon_Cores_on{
    display:none;
}
#Cores_max:hover #button_icon_Cores_close{
    display:flex;
}


#button_Cores_oc{
    display:none;
}
#button_icon_Cores_close{
    display:none;
}
#button_icon_Cores_on{
    display:flex;
}


input#item-1{
    display: none;
}*/
input{display: none;}
.info{display: none;}
.title:hover{cursor:pointer;}



input:checked + .info {
    display: flex;

}
.info::after{
    transition: transform .3s ease;
}



#Election_max{
    display:flex; 
}

#Cores_max{
    display:flex; 
}

.responsive {
    width:auto;
    height: 100%;
  }
